/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
}
header.main {
  text-align: center; // center on mobile
  @media (min-width: 30em) {
    text-align: left; // left align on desktop
  }
  padding: 10px;
  background: #9c9;
  //background: #282;
  margin: 0;
  h1 {
    //display: none;
	text-align: center;
	font: small-caps 40px/40px "Times New Roman", serif;
  }
  img {
	float: left;
  }
}
.locale {
  float: right;
  margin: 1em;
}
.notice, #notice {
  background: #ffb;
  border-radius: 0.5em;
  border: solid 0.177em #882;
  color: #882;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em 1.414em;
  text-align: center;
}
.content {
  margin: 0;
  padding: 0;

  display: flex;
  display: -webkit-flex;
  flex-direction: column; // mobile is horizontally laid out
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  @media (min-width: 30em) {
    flex-direction: row;  // desktop is vertically laid out
    -webkit-box-orient: horizontal;
  }

  #cart {
    article {
      h2 {
        margin-top: 0;
      }
      background: white;
      border-radius: 0.5em;
      margin: 1em;
      padding: 1.414em;
      @media (min-width: 30em) {
        margin: 0; // desktop doesn't need this margin
      }
    }
  }

  nav {
    padding-bottom: 1em;
    background: #141;
    text-align: center;  // mobile has centered nav
    @media (min-width: 30em) {
      text-align: left; // desktop nav is left-aligned
      padding: 1em;     // and needs more padding
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @media (min-width: 30em) {
        padding-right: 1em; // give desktop some extra space
      }
      li {
        margin: 0;
        padding: 0.5em;
        text-transform: uppercase;
        letter-spacing: 0.354em;
        a {
          color: #bfb;
          text-decoration: none;
        }
        a:hover {
          background: none;
          color: white;
        }
      }
    }
  }

  nav.logged_in_nav {
    border-top: solid thin #bfb;
    padding: 0.354em 0;
    margin-top: 0.354em;

    input[type="submit"] {
      // Make the logout button look like a
      // link, so it matches the nav style
      background: none;
      border: none;
      color: #bfb;
      font-size: 1em;
      letter-spacing: 0.354em;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
    }

    input[type="submit"]:hover {
      color: white;
    }
  }
  main {
    padding: 0.7em;
	//margin-left: 17em;
  }
}

.depot_form {
  padding: 0 1em;

  h1 {
    font-size: 1.99em;
    line-height: 1.41em;
    margin-bottom: 0.5em;
    padding: 0;
  }

  .actions,
  .field {
    margin-bottom: 0.5em;
    padding: 0;
  }

  .actions {
    text-align: right;
    padding: 1em 0;
  }

  input,
  option,
  select,
  textarea {
    border: solid thin #888;
    box-sizing: border-box;
    font-size: 1em;
    padding: 0.5em;
    width: 100%;
  }

  label {
    padding: 0.5em 0;
  }

  input[type="submit"] {
    background-color: #bfb;
    border-radius: 0.354em;
    border: solid thin #888;
    color: black;
    font-size: 1.41em;
    font-weight: bold;
    padding: 0.354em 1em;
  }

  input[type="submit"]:hover {
    background-color: #9d9;
  }
  // Also, clean up the error styling

  #error_explanation {
    background-color: white;
    border-radius: 1em;
    border: solid thin red;
    margin-bottom: 0.5em;
    padding: 0.5em;
    width: 100%;

    h2 {
      background: none;
      color: red;
      font-size: 1.41em;
      line-height: 1.41em;
      padding: 1em;
    }

    ul {
      margin-top: 0;

      li {
        color: red;
        font-size: 1em;
      }
    }
  }

  .field_with_errors {
    background: none;
    color: red;
    width: 100%;

    label {
      font-weight: bold;
    }

    label::before {
      content: "! ";
    }

    input,
    textarea {
      background: pink;
    }
  }
}
