$('#notice').hide();

if ($('#cart tr').length == 1) { $('#cart').show('blind', 3000); }

$("#cart").html("<%= escape_javascript render(@cart) %>");
//cart = document.getElementById("cart")
//cart.innerHTML = "<%= j render(@cart) %>"
